@charset "utf-8";

body, html {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: auto;
    top:0;
    left:0;
    background-color: #0079bf;
}
a {
    text-decoration: none;
    color: steelblue;
    font-family: cursive;
}
.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;

}
.board-header {
    display: flex;
    position: relative;
    padding: 8px 4px 8px 8px;
    justify-content: space-between;
}
.board-header-btn {
    border-radius: 3px;
    color: #f6f6f6;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 5px;
}
.board-header-btn:hover {
    background: #00649e;
}
.btn-header-menu::before {
    content: '\2026';
    margin-right: 6px;
    font-family: initial;
    font-size: large;
    vertical-align: text-bottom;
    font-weight: bold;
}
.title1 {
    margin: 0 4px 0 25px;
    float:left;
    font-size: x-large;
}
.title2 {
    width:auto;
    margin-right: 30px;
    text-decoration: underline;
}
.board-canvas {
    position: relative;
    margin: 5px;
    flex-grow: 1;
}
.board-scroll-area {
    display: flex;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 99%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-flow: column;  
    border-radius: 6px;
}
.open-add-list {
    width: 220px;
    padding: 10px;
    border-radius: 4px;
    background-color: #2a6ea5;
    color: #accbe6;
    font-family: cursive;
}
.open-add-list:hover {
    background-color: #225580;
    color: #9ebbd4;
    cursor: pointer;
}
.add-list-input {
    display: none;
    padding: 7px;
    margin: 3px;
    border-radius: 4px;
    background-color: aliceblue;
    border: 1px solid cornflowerblue;
    outline: 0;
    font-family: cursive;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
}
.add-list-btns {
    height: 30px;
    margin: 0 3px;
    display: none;
}
.save {
    padding: 3px 12px;
    background-color: #05b605;
    border-radius: 3px;
    border: 1px solid #029e02;
    color: #edfcf9;
    font-weight: bold;
    font-size: 16px;
    outline: 0;
}
.save:hover {
    background-color: #02a702;
    color: #e4faf5;
    cursor: pointer;
}
.close::before {
    content: "\274C";
    margin-left: 10px;
    font-size: large;
}
.close:hover, 
.close-popup:hover,
.back-btn:hover
 {
    color: black;
}
#add-list-wrapper,
.list-wrapper {
    margin: 0 5px;
    width: 250px;
}

.list-content {
    max-height: 100%;
    box-sizing: border-box;
    background: skyblue;
    position: relative;
    flex-flow: row wrap;
    justify-content: baseline;
    border-radius: 6px;
    padding: 8px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;

}
textarea.list-name {
    height: 25px;
    background: transparent;
    border: none;
    resize: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    font-weight: 600;
    word-wrap: break-word;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
textarea:focus {
    border: 1px solid #0079bf;
    box-shadow: 0 0 2px 0 #0284c6;
    overflow: hidden;
    cursor: default;
}
.list-menu-btn {
    margin: 0;
}
.menu-btn {
    padding: 0px 6px;
    border-radius: 2px;
}
.menu-btn:hover {
    background-color: #68c3e7;
    color: #206ead;
}
.list-cards {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
}
.list-cards::-webkit-scrollbar,
.board-scroll-area::-webkit-scrollbar,
.menu-wrapper::-webkit-scrollbar { 
    width: 11px; 
    }
.list-cards::-webkit-scrollbar-button,
.board-scroll-area::-webkit-scrollbar-button,
.menu-wrapper::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}
        
.list-cards::-webkit-scrollbar-track,
.board-scroll-area::-webkit-scrollbar-track,
.menu-wrapper::-webkit-scrollbar-track {
    background-color:#d7e6f7;
    border-radius: 10px;
}
        
.list-cards::-webkit-scrollbar-thumb,
.board-scroll-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#6cb4f8;
}
        
.list-cards::-webkit-scrollbar-thumb:hover,
.board-scroll-area::-webkit-scrollbar-thumb:hover {
    background-color:#6ea9e0;
}
        
.list-cards::-webkit-resizer,
.board-scroll-area::-webkit-resizer,
.menu-wrapper::-webkit-resizer {
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px;
}
.menu-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#c0defa;
}
.menu-wrapper::-webkit-scrollbar-thumb:hover {
    background-color:#a9d0f5;
}
.list-card {
    padding: 5px;
    margin: 3px;
    background-color: #c9e1f5;
    border-radius: 4px;
    color: steelblue;
    border-bottom: 1.5px solid #56bfe9;
}
.list-card:hover {
    cursor: pointer;
    background-color: #b9dcf8;
    color: #2d73ac;
}
.new-card {
    display: block;
    padding: 0 5px 5px;
    margin: 5px -8px -8px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.new-card:hover {
    background-color: #72c5e6;
}
.add-card-form {
    display: none;
}
.add-card {
    display: grid;
}
.card-name {
    padding: 7px;
    margin: 3px;
    border-radius: 4px;
    background-color: aliceblue;
    border: 1px solid cornflowerblue;
    outline: 0;
    font-family: cursive;
    box-shadow: inset 0 1px 8px #00000026;
    resize: none;
    word-wrap: break-word;
    overflow: hidden;
}
.open-popup-window {
    display: none;
    position: absolute;
    width: 250px;
    background: white;
    border-radius: 5px;
    border: 1px solid #d6dadc;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    z-index: 15;
} 
.popup-header,
.menu-header {
    position: relative;
    height: 32px;
    margin: 0 12px;
    border-bottom: 1px solid #e2e4e6;
    text-align: center;
}
.popup-title {
    color: #838c91;
    line-height: 30px;
}
label {
    margin: 5px 0;
    font-weight: 600;
    font-style: italic;
}
.rename-board {
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c9c9c9;
    outline: 0;
    box-shadow: inset 0 1px 8px rgba(119, 119, 119, 0.15);
}
.rename-board:focus {
    background-color: white;
    border: 1px solid cornflowerblue;
}
.close-popup::before {
    font-size: smaller;
    right: 2px;
    top: 7px;
    position: absolute;
}
.list-actions {
    display: flex;
    flex-flow: column wrap;
    padding: 2px 12px 7px;
    align-items: flex-start;
    list-style: none;
    font-family: cursive;
    font-weight: bold;
    color: #444;
}
.list-action {
    width: 100%;
    margin: 0px -12px;
    padding: 3px 12px;
}
.list-action:hover {
    cursor: pointer;
    background-color: #298fca;
    color: #fff;
}
.list-action:active {
    background-color: #217db3;
    color: #f5f5f5;
}
.back-btn {
    display: none;
}
.back-btn::before {
    content: "\2190";
    position: absolute;
    left: 0px;
    bottom: 8px;
    font-size: unset;
}
.copy-btn {
    padding: 7px 25px;
    margin: 5px 0 2px;
}
.copy-list-name,
.copy-list-name:focus {
    margin: 0 0 10px;
    max-height: 300px;
    padding-top: 2px;
}
.card-title {
    width: 220px;
    height: 60px;
    margin: 6px 12px;
    border-radius: 3px;
    background-color: #e2e4e6;
}
.card-title:focus {
    width: 220px;
    background-color: white;
}
.select {
    display: flex;
    margin-bottom: 5px;
    flex-flow: row wrap;
}
.title {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: #e4e3e3;
    margin: 6px 12px;
    padding: 5px;
    border-radius: 4px;
    border-bottom: 1px solid #c9c9c9;
}
.title:hover {
    background: #d3d3d3; 
    border-bottom: 1px solid #bebebe;
}
.select-list {
    width: 54%;
    margin: 0 8px 7px 12px;
}
.select-position {
    width: 25%; 
    margin: 0 12px 7px 0;       
}
.label {
    font-size: smaller;
    color: #969696;
    line-height: 9px;
    font-weight: bold;
}
.title:hover .label {
    color: #494949;
}
.value {
    font-size: x-large;
    font-weight: bold;
}
.position,
.list {
    display: block;
    position: absolute;
    height: 40px;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
}
.list {
    width: 100%;
}
.position {
    width: 100%;
}
.move-btn {
    padding: 7px 25px;
    margin: 5px 0 2px;
    margin: 3px 12px 10px;
}
.window-overlay {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #01010199;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 10;
}
.window {
    width: 750px;
    display: flex;
    position: relative;
    margin: 50px 80px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}
.close-window::before {
    right: 10px;
    top: 10px;
    position: absolute;
}
.window-wrapper {
    width: 75%;
    min-height: 400px;
    margin-right: 25px;
}
.window-header {
    display: flex;
    flex-flow: column wrap;
}
.window-title {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.icon::before {
    content: "\25A2";
    line-height: 23px;
    font-size: xx-large;
    color: #838c91;
    margin-right: 10px;
}
.window-task-name {
    margin: 0;
}
.window-list {
    color: #838c91;
}
.window-list-name {
    margin: 0;
    cursor: pointer;
}
.window-comments {
    margin: 30px 10px 15px 0;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}
.comment {
    height: 100px;
    width: 100%;
    border-radius: 3px;
}
.window-activity {
    position: relative;
    margin-top: 10px;
    top: 60px;
    width: 25%;
    height: 200px;
}
h3 {
    margin: 0 0 5px;
    font-size: x-large;
}
.actions {
    display: flex;
    flex-flow: column wrap;
}
.action {
    margin-top: 5px;
    background: #e4e3e3;
    color: #8b8b8b;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 5px;
    border-bottom: 1px solid #c9c9c9;
}
.window-btns {
    margin-top: 10px;
    margin-right: 10px;
}
.move::before {
    content: '\2192';
    margin-right: 10px;
    font-size: large;
}
.copy::before {
    content:'\29C9';
    margin-right: 10px;
}
.delete::before {
    content: '\2702';
    margin-right: 10px;
}
.action:hover {
    background: #d3d3d3; 
    color: #575757;
    border-bottom: 1px solid #bebebe;
}
.action:active {
    background: #838c91;
    color: #fff;
    border-bottom: 1px solid #838c91;
}
.clear-textarea{
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
}
.active {
    visibility: visible;
    opacity: 1;
}
.lbl {
    margin: 0 12px;
    font-style: unset;
}
.board-menu {
    display: none;
    width:340px;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    box-shadow: 0 0 6px rgba(0,0,0,.4);
    background-color: #f1f6fa;
    overflow: hidden;
    z-index: 5;
}
.close-menu {
    right: -2px;
    top: -3px;
    position: absolute;
    color: #929ba8;
}
.menu-header {
    margin: 12px 12px;
}
.menu-title {
    color: #000000;
    font-weight: bold;
    font-size: x-large;
    font-family: monospace;
    line-height: 20px;
}
.menu-wrapper {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 6px 12px 12px;
    height: 87%;
}
.menu-content {
    width: 100%;
}
.activity-title {
    position: relative;
    display: block;
    height: 20px;
    margin-left: 8px;
    padding: 6px;
    border-radius: 3px;
}
.activity-title:hover {
    background-color: #cfe9f5; 
}
.activity-label {
    font-size: 17px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    left: 9px;
    color: #6f7788;
    font-weight: 700;
}
.activity-label:hover {
    color:#4c515c;
}
span.activity-label::before {
    content: '\1F503';
    margin-right: 6px;
    color: #88bad1;
}
.action-event {
    border-bottom: .5px solid #e2e4e6;
    margin-left: 38px;
    min-height: 30px;
    padding: 10px 0;
    position: relative;
}
.event-user-icon {
    height: 30px;
    left: -38px;
    position: absolute;
    top: 15px;
    width: 30px;
    background: #dadfe4;
    border-radius: 20em;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
    cursor: pointer;
}
.event-desc {
    margin: 0 24px 0 0;
    word-wrap: break-word;
    color: #616060;
}
.user {
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}
.action-element {
    text-decoration: underline;
    color: #4c575c;
}
.event-time-data {
    font-size: 12px;
    margin: 0;
    min-width: 110px;
    color: #838c91;
}
.date {
    color: #b8b7b7;
}
.date:hover {
    color: #a1a0a0;
    text-decoration: underline;
}
.clone {
    position: absolute;
    margin: 0;
    opacity: 1;
}
